/*
	style.css
		* custom styles for Cordova & OnsenUI
*/

/* remove default all uppercase...*/
body {
	text-transform: none;
	color:#444;
	font-size: 100%;
}

h3, h4, h5, h6 {
	color: #1f4463;
}