<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ancientlives.fbauth" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BasicFirebaseAuth</name>
    <description>
        A sample wireframe for querying Firebase authentication...Google Single Sign-in
    </description>
    <author email="..." href="...">
        YOUR_USERNAME...
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-buildinfo" spec="2.0.2" />
    <plugin name="cordova-universal-links-plugin" spec="1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="3.0.0" />
    <plugin name="cordova-plugin-customurlscheme" spec="4.3.0">
        <variable name="URL_SCHEME" value="com.firebase.cordova" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <universal-links>
        <host name="_YOUR_PROJECT_.page.link" scheme="https" />
        <host name="_YOUR_PROJECT_.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <engine name="android" spec="^7.1.2" />
    <engine name="browser" spec="^5.0.4" />
</widget>
