<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.csteach.plugin.Test2"
      version="1.0.0">
    <name>Test2</name>
    <description>output a daily random travel note with Android</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,plugin,test</keywords>

    <engines>
      <engine name="cordova-android" version=">=4.0.0-dev" />
    </engines>

    <js-module src="www/test2.js" name="Test2">
      <clobbers target="window.test2" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Test2" >
                <param name="android-package" value="org.csteach.plugin.Test2"/>
            </feature>
        </config-file>

        <source-file src="src/android/Test2.java" target-dir="src/org/csteach/plugin" />
    </platform>
</plugin>
