/*
* index.css - default styling
*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}

/* Portrait layout (default) */
main {
    background-color: #fff;
    position:absolute;             /* position in the centre of the screen */
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    main {

    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

/*
* HEADINGS
*/
h1 {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding: 0;
  width: 48%;
  font-size: 1.4rem;
  font-weight: bold;
}

/*
* BUTTONS
*/
button {
  margin: 1%;
  padding: 1%;
  line-height: 2;
  font-size: 1em;
  border: 1px solid #000;
  color: #fff;
	background-color: #078194;
	outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #014650;
}

/*
* SIDEBAR
*/
#side {
	top: 0;
  left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,235,59,0.5); /* alpha set to 0.5 for transparency */
	z-index: 12;
  position: relative; 
  visibility: hidden;
}

#sidecontent {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	border-right: 1px solid #000;
	background-color: #fff;
}

#side-header {
	width: 90%;
	height: 8%;
	margin-left: 5%;
}

#side-header h1 {
	height: 90%;
	width: 80%;
	margin: 10% 10% 0 10%;
}

#sidenav {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#sidenav ul {
	margin: 10% 5%;
}

#sidenav ul li {
	margin: 25% 0;
}

/*
* HEADER - top nav, headings, search
*/
#main-header {
  position: fixed;
  top: 0;
  left: 0;
	width: 100%;
  height: 8%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1;
}

#menubtn {
  width: 12%;
  margin: auto;
}

#menubtn img {
  height: 50%;
  width: 50%;
  /* margin relative to container NAV element */
  margin-left: 25%;
}

#search {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: flex;
  width: 40%;
}

#search img {
  height: 7%;
  width: 7%;
  margin-left: auto;
  margin-right: 7%;
}

/* 
* LOGIN
*/
#fb-login {
	margin: 5% 0 5% 0;
}

#submit-logout {
	display: none;
}

#fb-content {
  display: flex;
  border: 1px solid #000;
}

/*
* SLIDER - central slider content and links
*/
#slideLinks {
  position: fixed;
  top: 8%;
  left: 0;
  width: 100%;
  height: 12%;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1;
}

#slideLinks a {
  font-size: 1.2rem;
  margin: auto;
  padding: 3% 3% 1% 3%;
}

#slideContent {
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  top: 20%;
  left: 0;
  width: 100%;
  height: 55%;
  background-color: #fadb48;
  border-bottom: 1px solid #000;
  display: flex;
}

.slide {
  min-width: 96%; /* forces slide to fill screen */
  min-height: 10%;
  margin-right: 1%;
  padding: 2%; /* add 2% to either side to give 100% width overall - stops left overflow */
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #fadb48;
  overflow-y: hidden;
}

#slideContent1 {
  flex-grow: 1;
  overflow-y: scroll;
}

/* CARDS */
div.fb-card {
	margin: 2%;
	padding: 2%;
	border: 1px solid #000;
}

div.fb-card h4 {
	margin: 0;
	padding: 0;
}

/*
* FOOTER - fixed with sample content...
*/
#fixedFooter {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-top: 1px solid #000;
  z-index: 10;
}

#footerContent {
  width: 80%;
  height: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

/*
* touch events
*/

/*
* VARIOUS
*/
[data-visible="false"] {
  border-bottom: 6px solid #fff;
}

[data-visible="true"] {
  border-bottom: 6px solid #fadb48;
}


